.show-btn{
    background-color:#FF7C16 !important;
    font-family: 'Open Sans', sans-serif;
    width: 266px !important;
    padding: 15px !important;
    border: 0 !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card.news{
    border: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   
  width: 100%;

    border-radius: 20px;
}
.card.news img{
  height: 250px;
}


.news-icon{
    color: #13BEFF;
    margin-right: 10px;
}

.w{
    width: 50px !important;
}

.news-w{
    width: 60% !important;
    margin: 0 auto;
    transition: all .5;
}

.act{
    background-color: #0ECEFF;
    border: 0;
    color: white;
    width: 100px;
    border-radius: 0.375rem;
    padding: 4px;
    margin: 4px 0;
}

.news-w .btn.btn-primary{
    color:#0F526E;
    background-color:#E3E3E3 !important;
    border : 0 !important;
    width: 100px;
    border-radius: 0.375rem;
    margin: 4px 0;
    padding: 4px;
}

.media{
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
}
.cate{
    background-color:#f1f3f4!important;
    color:#5E6282 !important;
    padding: 0 15px !important;
    border-radius: 20px !important;
}