.content{
    height: 100%;
}
.Marking{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:#F215B6 ;
}


.paragh{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Volkhov', serif;
    color:#181E4B

}
.info{
    color: #181E4B;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}

.circle{
    border-radius: 50%;
    padding: 5px !important;
    width: 25px !important;
    height: 25px !important;
}



.carousel-indicators .active{
    padding: 7px !important;
}

.first.circle{
    background-color: #F215B6 !important;
}

.second.circle{
    background-color: #A6E51C !important;
}

.third.circle{
    background-color: #FF7C16 !important;
}
.Trendy{
    color:#A6E51C;
    font-family: 'Poppins', sans-serif;
}
.Outsource{
    color:#FF7C16;
    font-family: 'Poppins', sans-serif;
}

.carousel-item button.btn-primary{
    background-color: #fc7f1fbf !important  ;
    padding: 10px;
    border :0px;
    margin-right: 20px;
}

.carousel-item button:hover{
    background-color:#FF7C16 !important ;
  
}

.dot{

    letter-spacing: 10px;
    font-size: 2rem;
    height: 70px;

    text-align: start;
}

.imm{
    
    right: 40px;
    position: relative;

}
.imm .Decore{
    position: absolute;
    top:-170px;
    right: -290px;
    z-index: -1;
}

.Decore {
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.carousel-indicators{
    width: 500px !important;
    position: absolute ;
    
}
